{#
    Copyright (c) 2023 Coalesce. All rights reserved.
This script and its associated documentation are confidential and proprietary to Coalesce.
Unauthorized reproduction, distribution, or disclosure of this material is strictly prohibited.
Coalesce permits you to copy and modify this script for the purposes of using with Coalsce but
does not permit copying or modification for any other purpose.  
#}
{# == Node Type Version        : 1  == #}
{# == Node Type Name           : API == #}
{# == Node Type Description    : This node creates target table to load data from API URL == #}


# Create table first

{% if desiredState %}

	   {% if currentState == undefined %}
    
         {{ stage('Create Table') }}
         CREATE OR REPLACE TABLE {{ ref_no_link(desiredState.node.location.name, desiredState.node.name) }}
         (
       {% for col in desiredState.columns %}
           "{{ col.name }}" {{ col.dataType }}
           {% if col.isSurrogateKey %}
               identity
           {% endif %}
           {%- if not col.nullable %} NOT NULL
               {%- if col.defaultValue | length > 0 %} DEFAULT {{ col.defaultValue }}{% endif %}
           {% endif %}
           {%- if col.description | length > 0 %} COMMENT '{{ col.description | escape }}'{% endif %}
           {%- if not loop.last -%}, {% endif %}
       {% endfor %}
           )
	    {%- if desiredState.node.description | length > 0 %} COMMENT = '{{ desiredState.node.description | escape }}'{% endif %}
		
		
	  {%elif currentState != undefined and desiredState!=currentState %}
	  
            {# Desired Namespace Variables #}
            {% set nsVariables = namespace(
			colchanges=0,
			storageLocationTest=true) %}
               
            {# Test  #}
            {% set nsVariables.storageLocationTest = true %}
            {% set nodeCommentTest = currentState.node.description == desiredState.node.description %}
                
            {# Change Node Name or Change Storage Location #}
            {# Storage Location Tests #}
            {# Test  #}
            {%if currentState.storageLocations|length == 0%}    

              {% set currentDatabase = currentState.storageLocations | selectattr('name', 'equalto', currentState.node.location.name) | map(attribute='database') | string %}
              {% set currentSchema = currentState.storageLocations | selectattr('name', 'equalto', currentState.node.location.name) | map(attribute='schema') | string %}
               {% set currentDatabaseSchema = currentDatabase + '.' + currentSchema %}
               
            {%else %}   

               {# Current target node mappings #}
               {% set currentDatabase = currentState.storageLocations | selectattr('name', 'equalto', currentState.node.location.name) | map(attribute='database') | first | default('') %}
               {% set currentSchema = currentState.storageLocations | selectattr('name', 'equalto', currentState.node.location.name) | map(attribute='schema') | first | default('') %}
               {% set currentDatabaseSchema = currentDatabase + '.' + currentSchema %}  
			
            {% endif %}		
                
                  ## Desired mappings
                  {% set desiredDatabase = desiredState.storageLocations | selectattr('name', 'equalto', desiredState.node.location.name) | map(attribute='database') | first |default('') %}
                  {% set desiredSchema = desiredState.storageLocations | selectattr('name', 'equalto', desiredState.node.location.name) | map(attribute='schema') | first | default('')%}
            
                 {% set desiredDatabaseSchema = desiredDatabase + '.' + desiredSchema %}

                {% if currentDatabaseSchema != desiredDatabaseSchema%}
                   {% set nsVariables.storageLocationTest = false %}
                {% endif %}
           
            {# Rename / Move Object #}
            {% if (nsVariables.storageLocationTest == false or currentState.node.name != desiredState.node.name) %}
                {{ stage('Rename and / or Move Table') }}
                ALTER TABLE {{ ref_no_link(currentState.node.location.name, currentState.node.name) }}
                RENAME TO   {{ ref_no_link(desiredState.node.location.name, desiredState.node.name) }}
            {% endif %}

            {# Change table description #}
            {% if (nsVariables.nodeCommentTest == false or currentState.node.description != desiredState.node.description) %}
                 {{ stage('Change table description') }}
                 ALTER TABLE {{ ref_no_link(desiredState.node.location.name, desiredState.node.name) }}
                SET COMMENT = '{{ desiredState.node.description | escape }}'
            {% endif %}

            {# Drop Columns #}
            {% set nsVariables = namespace(colchanges=0) %}
            {% for dropCurCol in currentState.columns %}
                {% if dropCurCol.id not in desiredState.columns | map(attribute="id") %}
                {% set nsVariables.colchanges = nsVariables.colchanges + 1 %}

                    {% if nsVariables.colchanges == 1 %}
                        {{ stage('Drop Columns') }}
                        ALTER TABLE {{ ref_no_link(desiredState.node.location.name, desiredState.node.name) }}
                        DROP COLUMN 
                    {% else %}
                        , 
                    {% endif %}
                    "{{ dropCurCol.name }}"
                {% endif %}
            {% endfor %}

            {# Add Columns #}
            {% set nsVariables = namespace(colchanges=0) %}
            {% for addDesCol in desiredState.columns %}
                {% if addDesCol.id not in currentState.columns | map(attribute="id") %}
                {% set nsVariables.colchanges = nsVariables.colchanges + 1 %}

                    {% if nsVariables.colchanges == 1 %}
                        {{ stage('Add Columns') }}
                        ALTER TABLE {{ ref_no_link(desiredState.node.location.name, desiredState.node.name) }}
                        ADD COLUMN
                    {% else %}
                        ,
                    {% endif %}
                        "{{ addDesCol.name }}" {{ addDesCol.dataType }}
                        {%- if not addDesCol.nullable %} NOT NULL
                            {%- if addDesCol.defaultValue | length > 0 %} DEFAULT {{ addDesCol.defaultValue }}{% endif %}
                        {% endif %}
                        {%- if addDesCol.description | length > 0 %} COMMENT '{{ addDesCol.description | escape }}'{% endif %}
                {% endif %}
            {% endfor %}

            {# Rename Columns #}
            {% for renameCurCol in currentState.columns %}
                {% if renameCurCol.id in desiredState.columns | map(attribute="id") %}
                    {% set desiredColumnName = desiredState.columns | selectattr('id', 'equalto', renameCurCol.id) | map(attribute='name') | first %}
                    {% if renameCurCol.name != desiredColumnName %}
                        {{ stage('Rename Column ' + renameCurCol.name) }}
                        ALTER TABLE {{ ref_no_link(desiredState.node.location.name, desiredState.node.name) }}
                        RENAME COLUMN "{{ renameCurCol.name }}"
                        TO "{{ desiredColumnName }}"
                    {% endif %}
                {% endif %}
            {% endfor %}

            {# Change data types etc #}
            {% set nsVariables.colchanges = 0 %}
            {% for alterCurCol in currentState.columns %}        
                {% if alterCurCol.id in desiredState.columns | map(attribute="id") %}
                    {% set currentDatatype = alterCurCol.dataType %}
                    {% set currentNullable = alterCurCol.nullable %}
                    {% set currentDefaultValue = alterCurCol.defaultValue %}
                    {% set currentDescription = alterCurCol.description %}

                    {% set desiredColumnName = desiredState.columns | selectattr('id', "equalto", alterCurCol.id) | map(attribute='name') | first %}
                    {% set desiredDatatype = desiredState.columns | selectattr('id', "equalto", alterCurCol.id) | map(attribute='dataType') | first %}
                    {% set desiredNullable = desiredState.columns | selectattr('id', "equalto", alterCurCol.id) | map(attribute='nullable') | first %}
                    {% set desiredDefaultValue = desiredState.columns | selectattr('id', "equalto", alterCurCol.id) | map(attribute='defaultValue') | first %}
                    {% set desiredDescription = desiredState.columns | selectattr('id', "equalto", alterCurCol.id) | map(attribute='description') | first %}

                    {% set datatypeTest = currentDatatype == desiredDatatype %}
                    {% set nullableTest = currentNullable == desiredNullable %}
                    {% set defaultValueTest = currentDefaultValue == desiredDefaultValue %}
                    {% set descriptionTest = currentDescription == desiredDescription %}

                    {% if (datatypeTest == false or 
                            nullableTest == false  or
                            defaultValueTest == false or
                            descriptionTest == false) %}
                        {% set nsVariables.colchanges = nsVariables.colchanges + 1 %}

                        {% if nsVariables.colchanges == 1 %}
                            {{ stage('Change Column Attributes') }}
                            ALTER TABLE {{ ref_no_link(desiredState.node.location.name, desiredState.node.name) }}
                            MODIFY
                        {% endif %}
                        {% if datatypeTest == false %}
                            {% if nsVariables.colchanges > 1 %},{% endif %}
                            COLUMN "{{ desiredColumnName }}"
                            SET DATA TYPE {{ desiredDatatype }}
                            {% set nsVariables.colchanges = nsVariables.colchanges + 1 %}
                        {% endif %}
                        {% if nullableTest == false %}
                            {% if nsVariables.colchanges > 1 %},{% endif %}
                            COLUMN "{{ desiredColumnName }}"
                            {% if currentNullable == true %}
                                SET
                            {% else %}
                                DROP
                            {% endif %}
                            NOT NULL
                            {% set nsVariables.colchanges = nsVariables.colchanges + 1 %}
                        {% endif %}
                        {% if descriptionTest == false %}
                            {% if nsVariables.colchanges > 1 %},{% endif %}
                            COLUMN "{{ desiredColumnName }}"
                            COMMENT '{{ desiredDescription | escape}}'
                            {% set nsVariables.colchanges = nsVariables.colchanges + 1 %}
                        {% endif %}
                        {% if defaultValueTest == false %}
                            {% if nsVariables.colchanges > 1 %},{% endif %}
                            COLUMN "{{ desiredColumnName }}"
                            {% if desiredDefaultValue == '' %}
                                DROP DEFAULT
                            {% else %}
                                SET DEFAULT {{ desiredDefaultValue }}
                            {% endif %}
                            {% set nsVariables.colchanges = nsVariables.colchanges + 1 %}
                        {% endif %}
                                            
                    {% endif %}
                {% endif %}
            {% endfor %}  


	  {%endif%}

{%elif  currentState != undefined and desiredState == undefined%}

    {# Table or View Name #}
    {% set targetObjectDatabase = ref_no_link(currentState.node.location.name, currentState.node.name).split('.')[0] %} 
    {% set targetObjectSchema = ref_no_link(currentState.node.location.name, currentState.node.name).split('.')[1] %} 
    {% set fullyQualifiedTargetObjectName = ref_no_link(currentState.node.location.name, currentState.node.name) %}
           
        {{ stage('Drop table') }}
         DROP TABLE IF EXISTS {{ fullyQualifiedTargetObjectName }}
	  
	  
{%endif%}


{% if desiredState %}  
	 
	{%if currentState == undefined or (currentState != undefined and desiredState!=currentState) %}

{{ stage('Create Python Procedure ') }}
CREATE OR REPLACE PROCEDURE {{ ref_no_link(desiredState.node.location.name, 'PROC_' + desiredState.node.name | upper) | trim }}()
RETURNS STRING
language python
runtime_version= '{{SP_configs.py_runtime_ver}}'
handler = 'call_api'
external_access_integrations=({{desiredState.config.extIntegration}})
packages = ('snowflake-snowpark-python','requests','pandas')
{% if desiredState.config.bauth == true and desiredState.config.api_token !=""%}
secrets = ('cred' = {{desiredState.config.api_token}})
{%elif desiredState.config.cauth == true and desiredState.config.sapi_token !="" and desiredState.config.api_id != ""%}
secrets = ('id_alias' = {{desiredState.config.api_id}},'cred_alias' = {{desiredState.config.sapi_token}})
{%endif%}
as
$$
import _snowflake
import requests
import json
import base64
from snowflake.snowpark.functions import sql_expr
from snowflake.snowpark.functions import lit


def call_api(snowpark_session):

  # Define the API URL,headers and payloads
   
  uri = '{{desiredState.config.uri}}'
  {% if desiredState.config.payload != "" %}p = {{desiredState.config.payload}}{% endif%}
  {% if desiredState.config.api_token !="" and  desiredState.config.headers != "" and desiredState.config.bauth == true %}

  # Retrieve the access token from Snowflake secret

  access_token = _snowflake.get_generic_secret_string('cred')
  h = {{desiredState.config.headers}}
  hd ={"Authorization":f"{access_token}"} 
  headers = h |hd

   {%elif desiredState.config.api_token !="" and  desiredState.config.headers == "" and desiredState.config.bauth == true %}

   # Retrieve the access token from Snowflake secret

  access_token = _snowflake.get_generic_secret_string('cred')
  hd ={"Authorization":f"{access_token}"}
  headers = hd 

   {%elif desiredState.config.cauth == true and desiredState.config.sapi_token !="" and desiredState.config.api_id != "" and  desiredState.config.headers == "" %}

 # Retrieve the access token from Snowflake secret

 client_id = _snowflake.get_generic_secret_string('id_alias')
 client_secret = _snowflake.get_generic_secret_string('cred_alias')

 # Format: "client_id:client_secret"
 credentials = f"{client_id}:{client_secret}"
    
 # Base64 Encode the string
 encoded_creds = base64.b64encode(credentials.encode()).decode()
    
 hd ={"Authorization":f"Basic {encoded_creds}""}
 headers = hd

    {%elif desiredState.config.cauth == true and desiredState.config.sapi_token !="" and desiredState.config.api_id != "" and  desiredState.config.headers != "" %}

  # Retrieve the access token from Snowflake secret

  client_id = _snowflake.get_generic_secret_string('id_alias')
  client_secret = _snowflake.get_generic_secret_string('cred_alias')

  # Format: "client_id:client_secret"
  credentials = f"{client_id}:{client_secret}"
    
  # Base64 Encode the string
  encoded_creds = base64.b64encode(credentials.encode()).decode()
   
  h = {{desiredState.config.headers}}
  hd ={"Authorization":f"Basic {encoded_creds}"} 
  headers = h |hd

   {%endif%}

  # Make the API request
  response = requests.{{ desiredState.config.method }}(uri  {%- if desiredState.config.headers != ""%}, headers=headers {%- endif%} {%- if desiredState.config.payload != ""%}, json=p {%- endif%})

  # Create Snowpark DataFrame
  data = response.text
  df = snowpark_session.create_dataframe([data]).to_df("RESPONSE")
  df = df.withColumn("RESPONSE",sql_expr("parse_json(RESPONSE)"))
  df = df.with_column('URI', lit(uri))
  df.write.mode("overwrite").save_as_table('{{ ref_no_link(desiredState.node.location.name, desiredState.node.name) }}')
  return str(data)
$$;

{%endif%}

{%elif  currentState != undefined and desiredState == undefined%}

        {{ stage('Drop procedure') }}
         DROP PROCEDURE IF EXISTS {{ ref_no_link(currentState.node.location.name, 'PROC_' + currentState.node.name | upper) | trim }}()


{%endif%}